<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/weather.png">
    <title>Cloudy &mdash; About</title>
</head>

<body>
    {{>header}}

    <div class="container col-lg-8 col-md-9 col-sm-10" style="min-height: 60vh;margin:6rem auto;text-align-last: center;text-align: center;">
        <div class="author-image" style="margin: 2.5rem;">
            <img src="/images/me.png" alt="Author Image"  style="width: 200px;height: 200px;border-radius:100%;border: 5px solid skyblue;"><br />
            <div style="font-size: xx-large;">One Code</div>
        </div>
        <div class="about">
            He is interested in Competitive Programming , Web Development , Android App Devlopment. <br />
            He has knowledge of C++ , Python , Java , Java Framework ( Spring Boot ) , NodeJs , PHP , <br /> Javascript Framework ( Vue ) and Kotlin for Android App Development.<br />
            He has Developed this Cloudy Website.
        </div>
    </div>
    {{>footer}}
</body>

</html>