<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/weather.png">
    <title>Cloudy &mdash; About</title>
</head>

<body>
    {{>header}}

    <div class="container col-lg-8 col-md-9 col-sm-10"
        style="min-height: 60vh;margin:6rem auto;text-align-last: center;text-align: center;">
        <div class="display-2">
            <br />
            Hey Cloudy,<br/>
            <div class="display-3">
            You are on a wrong page
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>