<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/weather.png">
    <title>Cloudy &mdash; About</title>
</head>

<body>
    {{>header}}

    <div class="container col-lg-8 col-md-9 col-sm-10"
        style="min-height: 60vh;margin:6rem auto;text-align-last: center;text-align: center;">
        <div class="display-4">
            How to use it ?
        </div>

        <h3>
            Just type your location in search bar on home page.<br /><br />
            If you are noot able to find your location weather then just <br /> give your address in a bit more detail
            then you will get some output like this one :<br />
        </h3>
        <img src="/images/screen.png" alt="search demo" style="max-width: 95%;">
    </div>
    {{>footer}}
</body>

</html>